# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Builds
build/
dist/

# Expo / React Native
.expo/
.metro-health-check*
expo-env.d.ts
web-build/

# Native artifacts
.kotlin/
.gradle/
android/.gradle/
android/build/
android/app/build/
packages/app/android/.gradle/
packages/app/android/build/
packages/app/android/app/build/
/android
/ios
!/android/settings.gradle
!/android/build.gradle
!/android/app/build.gradle
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Logs & debug
*.log
npm-debug.log*
npm-debug.*
yarn-debug.log*
yarn-debug.*
yarn-error.log*
yarn-error.*

# Local env files
.env
.env*.local
.env.development.local
.env.test.local
.env.production.local
packages/backend/firebase-service-account.json

# Firebase keys (보안상 Git에 포함하지 않음)
key/
*.json
!package.json
!package-lock.json
!tsconfig.json
!app.config.js
!eas.json

# Docs
*.md
*.txt

# TypeScript
*.tsbuildinfo

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo
